*.swp
**/__pycache__/**
imnet_resnet50_scratch/timm_temp/
.dumbo.json
Checkpoints/
out/
demo/*.py
*.tar
core*
bk/
*.ipynb
*.sh
out*
demo/
tools/projects/
UCF101.yaml
demo.py
inerfence.py
army.py
I3D.py
bk*